<form>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" placeholder="Insert a title" required />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea required placeholder="What happened at this Moment?"></textarea>
  </div>
  <div class="form-group">
    <label for="image">Upload your favorite Moment:</label>
    <input class="fileBtn" type="file" />
  </div>
  <input type="submit" value="{{ btnText }}" />
</form>
