.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-container h1 {
    margin-bottom: 0.5em
}

.moments-container {
    
    border: 2px solid #dec129;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1em;
    
}

.moment {
    
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    width: 32%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.moment img {
    width: 100%;
    margin-bottom: 1em;
}


.moment h3, .moment p {
    margin-bottom: 1em;

}

.moment .date {
    font-size: 0.7em;
    font-style: italic;

}

a {
   color: #dec129;
   padding: .3em .6em;
}

a:hover {
    background-color: #efefefef;
}

.search-container {
    margin-bottom: 2em;
    width: 100%;
    
}

.search-container form {
    width: 30%;
    position: relative;

}

.search-container fa-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.search-container input {
    padding: .5em;
    width: 100%;
    text-align: center;
}